[submodule "backend"]
	path = backend
	url = https://github.com/FedericoZorgnotto/Vallauri-Orientati-Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/FedericoZorgnotto/Vallauri-Orientati-Frontend
