[submodule "backend"]
	path = backend
	url = https://github.com/FedericoZorgnotto/Vallauri-Orientamento-Backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/FedericoZorgnotto/Vallauri-Orientamento-Frontend
